body {
    background: #70e1f5;
    background: -webkit-linear-gradient(to right, #ffd194, #70e1f5);
    background: linear-gradient(to right, #ffd194, #70e1f5);
}

.btn {
    float: right;
}

.text,
.input-field .prefix {
    color: #9e9e9e;
}

.input-field {
    margin-bottom: 2rem;
}

.row {
    margin-bottom: 0;
}

.container-margin-top {
    margin-top: 15vh;
}

.bold{
    font-weight: bold;
}

em {
    font-weight: bold;
    color: white;
}

.nav-wrapper .brand-logo {
    padding-left: 3rem;
    width: fit-content;
}

.nav-wrapper a {
    padding-right: 3em;
}

.download {
    width: fit-content;
}

input {
    color: white;
}

.card-panel {
    padding: 2rem 3rem;
}

.ultra-small {
    float: right;
    width: 20px;
    height: 20px;
    margin-top: 0.5rem;
    margin-right: 1rem;
}

.ultra-small .spinner-layer {
    border-color: #78909c;
}

#audioOnly {
    margin-top: -40px;
    margin-left: 50px;
    position: relative;
}

.downloader-left-side{
    width: 20vw;
    display: inline-block;
}

.file-url{
    width: 65%;
}

.text-overflow{
    display: inline-block;
    word-break: break-all;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.container div,
.container span{
        vertical-align: bottom;
}

.remove{
    float: right;
    margin-top: -20px;
    margin-right: -20px;
    color: #37474f;
}

.file-category i {
    vertical-align: bottom;
}

.percentage {
    text-align: center;
}