body {
background: #114357;
background: -webkit-linear-gradient(to right, #F29492, #114357);
background: linear-gradient(to right, #F29492, #114357);
}

.download {
    float: right;
    width: 200px;
}

.optional,
.input-field .prefix {
    color: #9e9e9e;
}

.container {
    margin-top: 15vh;
}

em {
    font-weight: bold;
    color: white;
}

.nav-wrapper .brand-logo {
    padding-left: 1rem;
    width: fit-content;
}

.download{
    width: fit-content;
}

input{
    color: white;
}