<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mini Remote Downloader</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons|Roboto" rel="stylesheet">
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

<nav>
    <div class="nav-wrapper blue-grey darken-4">

        <div class="brand-logo">Mini Remote Downloader</div>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="/downloads/">Downloads</a></li>
        </ul>
    </div>
</nav>

<div class="container container-margin-top">
    <div class="card-panel blue-grey darken-3">
        <form>
            <div class="row">

                <div class="input-field">
                    <i class="material-icons prefix">language</i>
                    <input type="url" id="url" name="url" required class="validate" spellcheck="false">
                    <label for="url" data-error="Not a valid url">Url</label>

                </div>

                <div id="audioOnly" style="opacity: 0; position: relative;">

                        <input class="with-gap" name="youtubeFormat" type="checkbox" id="audio"/>
                        <label class="format" for="audio">Download only audio</label>

                </div>


                <div class="input-field">
                    <i class="material-icons prefix">label</i>
                    <input type="text" id="name" name="name">
                    <label for="name">Name<em>*</em></label>
                </div>

                <div class="input-field">
                    <i class="material-icons prefix">perm_media</i>
                    <input type="text" id="cat" name="category">
                    <label for="cat">Category<em>*</em></label>
                </div>

            </div>

            <div class="row">
                <span class="text">* - optional</span>

                <button id="submit" class="btn blue-grey lighten-1 waves-effect waves-light">
                    <i class="material-icons right">file_download</i>Download
                </button>

                <div class="preloader-wrapper ultra-small hide active">
                    <div class="spinner-layer">
                        <div class="circle-clipper left">
                            <div class="circle"></div>
                        </div>
                        <div class="gap-patch">
                            <div class="circle"></div>
                        </div>
                        <div class="circle-clipper right">
                            <div class="circle"></div>
                        </div>
                    </div>
                </div>

            </div>
        </form>
    </div>
</div>
</body>
<script src="{{ url_for('static', filename='index.js') }}"></script>
</html>